.table {
  --border-color: #eceeef;

  width: 100%;
  border-top: 1px solid var(--border-color);
  border-collapse: collapse;
  margin-bottom: 2em;
}

.table th,
.table td {
  padding: .75rem;
  vertical-align: middle;
}

.table tr:not(:last-child) th,
.table tr:not(:last-child) td {
  border-bottom: 1px solid var(--border-color);
}

.table thead th,
.table thead td {
  border-bottom: 2px solid var(--border-color);
}
