.tag {
  display: inline-block;
  padding: .25em .76em;
  border-radius: .25em;
  background: var(--primary);
  color: #fff;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag.warning {
  background: var(--warning);
}

.tag.danger {
  background: var(--danger);
}
